.bill-wrapper .information-list4 li {
    @media (max-width: 767px) {
    float: left;
    margin-right: 0px;
    margin-top: 1%;
    margin-bottom: 10px;
    width: 25%;
    padding: 0 5px;
    min-height: 90px;
    }
}
.white-bg3.mar-b{
    @media (max-width: 767px) {
    padding:15px 0!important;
    }
}

.widget-box7.custformob{
    @media (max-width: 767px) {
    background-color: transparent;box-shadow:none;overflow:visible;
    }
}
.component-title6.custformob {
    @media (max-width: 767px) {
    background-color: transparent;
    }
}
.custformob{
    &.pay-list li{
        @media (max-width: 767px) {
        background-color: white; margin-bottom: 10px;     box-shadow: 0 0 10px rgb(0 0 0 / 20%);    border-radius: 10px;
        }
    }

}

.whitebox-cust{
    background-color: white;;
}