<div class="main bg-m">
	<div class="nav-overlay"></div>
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad manage-payee myprofile mob-aligment">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<app-breadcrumb routeName="PROFILE_DETAILS"></app-breadcrumb>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="row1 hide-m">
											<div class="col-md-8 col-12">
												<h4>{{'MY_PROFILE' |
													translate}}</h4>
											</div>
											<div class="col-md-4 col-12"> </div>
										</div>
                                        <app-profile-img></app-profile-img>
										<div class="row1" [ngClass]="profileTypeModule == '' ? '' : 'hideDetails' ">
											<div class="col-sm-12 col-12 col-md-12">
												<div class="widget-box5 mb-3">
													<div class="bg-white1 pad-custom">
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1">
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<h6 class="detail-heading">  {{'BASIC_DETAILS' | translate}}</h6>
																	</div>
																</div>
															</div>
														</div>
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1">
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="ux-input ux-readonly edit-input">
																			<label> {{'USER_NAME' | translate}}</label>
																			<h5 class="edit-field">
																				{{dataService.userName}}
																				<a (click)="profileEdit('username')"
																					class="editIcon">
																					<img src="assets/images/svg/edit.svg"
																						class="img-fluid">
																				</a>
																			</h5>
																		</div>
																	</div>
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="ux-input ux-readonly edit-input">
																			<label>  {{'EMAIL_ID' | translate}}</label>
																			<h5 class="edit-field">
																				{{maskedEmailId}}
																				<a (click)="profileEdit('email')"
																					class="editIcon">
																					<img src="assets/images/svg/edit.svg"
																						class="img-fluid">
																				</a>
																			</h5>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1">
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="ux-input ux-readonly">
																			<label>  {{'REGISTER_MOBILE_NUMBER' | translate}}</label>
																			<h5>{{maskedMobileNo}}</h5>
																		</div>
																	</div>
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="ux-input ux-readonly edit-input">
																			<label> {{'PRIMARY_ACCOUNT_NUMBER' | translate}}</label>
																			<h5 class="edit-field">{{accNo}}
																				<a class="editIcon"
																					id="selectAcct-submit"
																					(click)="profileEdit('primaryAccount')">
																					<!-- <img src="assets/images/svg/edit.svg" class="img-fluid"> -->
																				</a>
																			</h5>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="row1 border-bottom mt-2 mb-4"> </div>
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1">
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<h6 class="detail-heading"> {{'ADDRESS_DETAILS' | translate}}</h6>
																	</div>
																</div>
															</div>
														</div>
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1">
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="ux-input ux-readonly edit-input">
																			<label>  {{'COMMUNICATION_ADDRESS' | translate}}</label>
																			<h5 class="edit-field">
																				{{communicationAdd}}
																				<a (click)="profileEdit('address')"
																					class="editIcon">
																					<!-- <img src="assets/images/svg/edit.svg" > -->
																				</a>
																			</h5>
																		</div>
																	</div>
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="ux-input ux-readonly edit-input">
																			<label>{{'PERMANENT_ADDRESS' | translate}}</label>
																			<h5 class="edit-field">
																				{{permanentAdd}}
																				<a (click)="profileEdit('address')"
																					class="editIcon">
																					<!-- <img src="assets/images/svg/edit.svg" class="img-fluid"> -->
																				</a>
																			</h5>
																		</div>
																	</div>

																	<div class="col-md-6 col-lg-6 col-xl-4 col-12"
																		style="display:none">
																		<div class="ux-input ux-readonly edit-input">
																			<label> {{'EMAIL_ALERT_CONFIG' | translate}}</label>
																			<ul class="radio-list4">
																				<li>
																					<div class="ux-selection yes">
																						<label class="ux-selection2">Yes
																							<input type="radio"
																								checked="checked"
																								value="yes"
																								name="email-alert">
																							<span
																								class="checkmark"></span>
																						</label>
																					</div>
																				</li>
																				<li>
																					<div class="ux-selection no">
																						<label class="ux-selection2">No
																							<input type="radio"
																								value="no"
																								name="email-alert">
																							<span
																								class="checkmark"></span>
																						</label>
																					</div>
																				</li>
																			</ul>
																		</div>
																	</div>


																</div>
															</div>
														</div>
														<div class="row1 border-bottom mt-2 mb-4"> </div>
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1">
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<h6 class="detail-heading"> {{'KYC_DETAIL' | translate}}</h6>
																	</div>
																</div>
															</div>
														</div>
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1 mt-3">


																	<!-- <div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="kyc-info" [ngClass]="kycStatus">
																		   <div class="full-info">
																			   <div class="left-info">
																				   <h6>KYC Status</h6>
																				   <h5>{{kycStatus == 'valid'? 'Valid' : kycStatus == 'pending'? 'Expiring' : 'Expired' }}</h5>
																			   </div>
																			   <div class="right-info">
																				   <div class="text-right" *ngIf="kycStatus != 'valid'">
																					   <button class="update-btn ux-button secondary sm5" (click)="updateKyc()" >Update kYC</button>
																				   </div>
																				   <div class="text-right" *ngIf="kycStatus == 'valid'">
																					   <h5>
																						   <img src="assets/images/svg/success-arrow.svg" alt="success-icon">
																					   </h5>
																				   </div>
																				</div>
																		   </div>
																		 </div>
																   </div> -->

																	


																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="ux-input ux-readonly edit-input">
																			<label>  {{'AADHAR_NUMBER' | translate}}</label>
																			<h5 class="edit-field">
																				{{this.maskedAddharCard}}
																				<!-- <a *ngIf="addharCard == '-'" -->
																				<a style="display: none;"
																					(click)="profileEdit('aadhar')"
																					class="editIcon">
																					<!-- <a (click)="profileEdit('aadhar')" class="editIcon" > -->
																					<img src="assets/images/svg/edit.svg"
																						class="img-fluid">
																				</a>
																			</h5>
																		</div>
																	</div>
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="ux-input ux-readonly edit-input">
																			<label> {{'PAN_NUMBER' | translate}}</label>
																			<h5 class="edit-field">{{maskedPanCard}}
																				<!-- <a *ngIf="panCard == '-'" -->
																				<a style="display: none;"
																					(click)="profileEdit('pan')"
																					class="editIcon">
																					<img src="assets/images/svg/edit.svg"
																						class="img-fluid">
																				</a>
																			</h5>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														</div>
												</div>
														<!-- <div class="row1 border-bottom mt-2 mb-4"> </div> -->
														<div class="widget-box5 mb-3" *ngIf="!dataService.isLoanAccount">
															<div class="bg-white1 pad-custom">
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1">
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<h6 class="detail-heading"> {{'TRANSACTION_LIMIT' | translate}}
																		</h6>
																	</div>
																</div>
															</div>
														</div>
														<div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1">
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12 mb-3">
																		<div class="slider-info p-0">
																			<div class="col-12 p-0">
																				<div class="row1">
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<small> {{'INTERNET_BANKING' | translate}}</small>
																					</div>
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<input type="text" inputmode="decimal"
																							class="sliderInput ux-input maxmin"
                                              numbersOnly
																							[value]="ibLimits.custSetlimit"
                                              min=0
																							[max]="ibLimits.maxAmount"
																							[(ngModel)]="amountText"
																							[name]="ibLimits.custSetlimit"
																							(ngModelChange)="sliderInput($event)"
																							(blur)="IBblur()"
																							(focus)="focusRangeSlider(amountText, 'internetBanking')"
																							 />
																					</div>
																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-12">
																					<div class="limit-slider my-2 mx-1">
																					</div>
																					<div class="sliderticks">

																						<input type="range" min="0"
																							[max]="ibLimits.maxAmount"
																							[value]="ibLimits.custSetlimit "
																							(change)="ibchange($event)">
																					</div>
																					<p style="float:left">
																						{{ibLimits.minAmount |
																						customcurrency: "symbol"}}</p>
																					<p style="float:right">
																						{{ibLimits.maxAmount |
																						customcurrency: "symbol"}}</p>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12 mb-3">
																		<div class="slider-info p-0">
																			<div class="col-12 p-0">
																				<div class="row1">
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<small> {{'MOBILE_BANKING' | translate}}</small>
																					</div>
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<input type="text" inputmode="decimal"
																							class="sliderInput ux-input maxmin1"
																							numbersOnly
																							[value]="mbLimits.custSetlimit"
																							min=0
																							[max]="mbLimits.maxAmount"
																							[(ngModel)]="amountText1"
																							[name]="mbLimits.custSetlimit"
																							(ngModelChange)="sliderInput1($event)"
																							(blur)="MBblur()"
																							(focus)="focusRangeSlider(amountText1, 'mobileBanking')"
																							 />
																					</div>

																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-12">
																					<div
																						class="limit-slider1 my-2 mx-1">
																					</div>
																					<div class="sliderticks">
																						<!-- <p>0</p>
                                                                                        <p>1,00,000.00</p> -->
																						<input type="range" min="0"
																							[max]="mbLimits.maxAmount"
																							[value]="mbLimits.custSetlimit "
																							(change)="mbchange($event)">
																					</div>
																					<p style="float:left">
																						{{mbLimits.minAmount |
																						customcurrency: "symbol"}}</p>
																					<p style="float:right">
																						{{mbLimits.maxAmount |
																						customcurrency: "symbol"}}</p>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-6 col-lg-6 col-xl-4 col-12 mb-3">
																		<div class="slider-info p-0">
																			<div class="col-12 p-0">
																				<div class="row1">
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<small> {{'BILLDESK_LIMIT' | translate}}</small>
																					</div>
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<input type="text" inputmode="decimal"
																							class="sliderInput ux-input maxmin4"
																							numbersOnly
																							[value]="blLimits.custSetlimit"
																							min=0
																							[max]="blLimits.maxAmount"
																							[(ngModel)]="amountText4"
																							[name]="blLimits.custSetlimit"
																							(ngModelChange)="sliderInput4($event)"
																							(blur)="BLblur()"
																							(focus)="focusRangeSlider(amountText4, 'bbpslimitBanking')"
																							 />
																					</div>

																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-12">
																					<div
																						class="limit-slider1 my-2 mx-1">
																					</div>
																					<div class="sliderticks">
																						<!-- <p>0</p>
                                                                                        <p>1,00,000.00</p> -->
																						<input type="range" min="0"
																							[max]="blLimits.maxAmount"
																							[value]="blLimits.custSetlimit "
																							(change)="blchange($event)">
																					</div>
																					<p style="float:left">
																						{{blLimits.minAmount |
																						customcurrency: "symbol"}}</p>
																					<p style="float:right">
																						{{blLimits.maxAmount |
																						customcurrency: "symbol"}}</p>
																				</div>
																			</div>
																		</div>
																	</div>
																	<!-- <div class="col-md-6 col-lg-6 col-xl-4 col-12 mb-3"  *ngIf="!dataService.isNRENRO">
																		<div class="slider-info p-0">
																			<div class="col-12 p-0">
																				<div class="row1">
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<small> {{'UPI_TRANSACTION' | translate}}</small>
																					</div>
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<input type="text" inputmode="decimal"
																							class="sliderInput ux-input maxmin2"
																							numbersOnly
																							[value]="upiLimits.custSetlimit"
																							min=0
																							[max]="upiLimits.maxAmount"
																							[(ngModel)]="amountText2"
																							[name]="upiLimits.custSetlimit"
																							(ngModelChange)="sliderInput2($event)"
																							(blur)="UBblur()"
																							(focus)="focusRangeSlider(amountText2, 'upiTransaction')"
																							/>
																					</div>

																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-12">
																					<div
																						class="limit-slider2 my-2 mx-1">
																					</div>
																					<div class="sliderticks">
																						<input type="range" min="0"
																							[max]="upiLimits.maxAmount"
																							[value]="upiLimits.custSetlimit "
																							(change)="upichange($event)">
																					</div>
																					<p style="float:left">
																						{{upiLimits.minAmount |
																						customcurrency: "symbol"}}</p>
																					<p style="float:right">
																						{{upiLimits.maxAmount |
																						customcurrency: "symbol"}}</p>
																				</div>
																			</div>
																		</div>
																	</div> -->


														<!-- <div class="row1">
															<div class="col-md-12 col-12">
																<div class="row1"> -->


																	<!-- <div class="col-md-6 col-lg-6 col-xl-4 col-12">
																		<div class="slider-info p-0">
																			<div class="col-12 p-0">
																				<div class="row1">
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<small> {{'WATCH_BANKING' | translate}}</small>
																					</div>
																					<div
																						class="col-md-6 col-lg-6 col-xl-6 col-6">
																						<input type="text" inputmode="decimal"
																							class="sliderInput ux-input maxmin3"
																							numbersOnly
																							[value]="wbLimits.custSetlimit"
																							min=0
																							[max]="wbLimits.maxAmount"
																							[(ngModel)]="amountText3"
																							[name]="wbLimits.custSetlimit"
																							(ngModelChange)="sliderInput3($event)"
																							(blur)="WBblur()"
																							(focus)="focusRangeSlider(amountText3, 'watchBanking')"
																							/>
																					</div>

																				</div>
																			</div>
																			<div class="row1">
																				<div class="col-12">
																					<div
																						class="limit-slider3 my-2 mx-1">
																					</div>
																					<div class="sliderticks">
																						<input type="range" min="0"
																							[max]="wbLimits.maxAmount"
																							[value]="wbLimits.custSetlimit "
																							(change)="wbchange($event)">
																					</div>
																					<p style="float:left">
																						{{wbLimits.minAmount |
																						customcurrency: "symbol"}}</p>
																					<p style="float:right">
																						{{wbLimits.maxAmount |
																						customcurrency: "symbol"}}</p>
																				</div>
																			</div>
																		</div>
																	</div> -->

																<!-- </div> -->
																<div class="col-md-12 col-lg-12 col-xl-12 col-12 saveBtn"
																	style="float: right;">
																	<button class="ux-button sm1 my-3 primary"
																		[disabled]="buttonDisabled"
																		(click)="addLimitsss(1)"> {{'SAVE' | translate}}</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="widget-box5 mb-3">
												<div class="bg-white1 pad-custom">
													<div class="row1">
														<div class="col-md-12 col-12">
															<div class="row1">
																<div class="col-md-6 col-lg-6 col-xl-4 col-12">
																	<h6 class="detail-heading">{{'AUTHENTICATION_MODE' | translate}} </h6>
																</div>
															</div>
														</div>
													</div>
													<div class="row1">
														<div class="col-12 col-md-12 col-lg-12 col-xl-12 ">
															<div class="ux-selection m-100">
																<label class="ux-selection2">{{'OTP' | translate}}
																	<input type="radio" name="radioboxdemo" value="OTP" [(ngModel)]="authMode" [ngModelOptions]="{standalone: true}" (click)="selModeAuth('O')" >
																	<span class="checkmark"></span>
																</label>
															</div>
															<div class="ux-selection m-100">
																<label class="ux-selection2">{{'TPIN' | translate}}
																	<input type="radio" name="radioboxdemo" value="TPIN" [(ngModel)]="authMode" [ngModelOptions]="{standalone: true}" (click)="selModeAuth('T')" >
																	<span class="checkmark"></span>
																</label>
															</div>
														
														</div>
														<div class="col-md-12 col-lg-12 col-xl-12 col-12 saveBtn" style="float: right;">
															<button class="ux-button sm1 my-3 primary"  [disabled]="authModebuttonDisabled"
																(click)="addLimitsss(0)"> {{'SAVE' | translate}}</button> 
														</div>
													</div>

													 
												</div>
											</div>
										</div>
									    </div>
										
									</div>
									<!-- Greencard2 End here -->
								</div>
								<!-- Right Column Ads Start -->
								<div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-xl-block">
									<app-banner></app-banner>
									
								</div>
								<!-- Right Column Ads Ends -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->
<!-- opt-verification Modal Starts-->
<!-- <div class="ios-nav-overlay"></div> -->
<ng-container *ngIf="otpstart">
	<app-common-otpPopup [otpModel]="OTPInputMessage" (otpPopOutput) ="GetOtpPopData($event)"></app-common-otpPopup>
</ng-container>
<div class="popup-bottom sm-popup opt-verification popup1">
	<div class="row1">
		<div class="col-12">
			<h4> {{'SELECT_PRIMARY_ACCOUNT' | translate}}</h4>
		</div>
	</div>
	<div class="row1">
		<div class="modal-body">
			<div class="row1">
				<div class="col-12 mb-2" *ngFor="let custaccount of custAccountList">
					<div class="ux-selection">
						<label class="ux-selection2">SB-{{custaccount.sbAccount}}
							<input type="radio" checked="checked" name="account"> <span class="checkmark"></span>
						</label>
					</div>
				</div>
				<!-- <div class="col-12 mb-2">
					<div class="ux-selection">
						<label class="ux-selection2">SB - 0987 5555 4444
							<input type="radio" name="account"> <span class="checkmark"></span> </label>
					</div>
				</div>
				<div class="col-12 mb-2">
					<div class="ux-selection">
						<label class="ux-selection2">SB - 0987 5555 4444
							<input type="radio" name="account"> <span class="checkmark"></span> </label>
					</div>
				</div> -->
			</div>
			<div class="row1  mt-2">
				<div class="col-6 text-center">
					<button class="ux-button secondary md close-btn" (click)="closePopup()">{{'CANCEL' | translate}}</button>
				</div>
				<div class="col-6 text-center">
					<button class="ux-button primary md"> {{'APPLY' | translate}}</button>
				</div>
			</div>
		</div>
		<!-- modal-body -->
	</div>
</div>
<!-- opt-verification Modal Starts-->

<!-- Upload Profile Picture Popup Start -->


<!-- -------##############--UNCOMMNET THIS WHILE INTEGERATING MB------##########------------ -->


<!-- <div class="popup-bottom profile-dtl">      
	<div class="row1">
		<div class="col-10">
			<h4>{{'UPLOAD_PROFILE_PICTURE' | translate}}</h4>
		</div>
		<div class="col-2">
			<button class="ux-button-icon close-btn" (click)="_closePopup('div.popup-bottom.profile-dtl')">
				<img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall">
			</button>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<ul class="profile-list">
				<li (click)="selectImageFromGallery()">
					<a href="javascript:;">
						<img src="assets/images/svg/gallery1.svg" alt="gallery-icon"> {{'SELECT_FROM_GALLERY' |
						translate}}
					</a>
				</li>
				<li (click)="takePhoto()">
					<a href="javascript:;">
						<img src="assets/images/svg/photo-camera.svg" alt="camera-icon"> {{'TAKE_PHOTO' | translate}}
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>
 -->



<!-- Popup Start -->
<div class="popup-bottom camera-info">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center"> <img src="assets/images/svg/information.svg" alt="information-icon">
				{{'INFORMATION' | translate}}</h4>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<p>{{information | translate}}</p>
		</div>
	</div>
	<div class="row1  mt-2">
		<div class="col-12 text-center">
			<button class="ux-button primary submit-btn" type="button"
				(click)="_closePopup('div.popup-bottom.camera-info')">{{'OK' | translate}}</button>
		</div>
	</div>
</div>


<ng-container *ngIf="otpstart">
    <app-common-otpPopup [otpModel]="OTPInputMessage" (otpPopOutput) ="GetOtpPopData($event)"></app-common-otpPopup>
</ng-container>




<!-- Popup Start -->
<div class="popup-bottom sm-popup profile-limit-info">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center"> 
                <img src="assets/images/svg/check.svg" alt="information-icon" *ngIf="icontype == 'success'" >
				<img src="assets/images/svg/information.svg" alt="information-icon"  *ngIf="icontype =='info'">
				{{'INFORMATION' | translate}}</h4>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<p>{{limitsUpdateInfo | translate}}</p>
		</div>
	</div>
	<div class="row1  mt-2">
		<div class="col-12 text-center">
			<button class="ux-button primary submit-btn" type="button"
				(click)="closeLimitPopup()">{{'OK' | translate}}</button>
		</div>
	</div>
</div>




<!-- Popup Start -->
<div class="popup-bottom sm-popup update-auth-data">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center"> 
				<img src="assets/images/svg/check.svg" alt="information-icon" *ngIf="icontype == 'success'" >
				<img src="assets/images/svg/information.svg" alt="information-icon"  *ngIf="icontype =='info'">
				{{'INFORMATION' | translate}}</h4>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<p>{{ userInfo }} </p>
		</div>
	</div>
	<div class="row1  mt-2">
		<div class="col-12 text-center">
			<button class="ux-button primary submit-btn" type="button"
				(click)="_closePopup('div.popup-bottom.update-auth-data')">{{'OK' | translate}}</button>
		</div>
	</div>
</div>


<div class="popup-bottom sm-popup success-popup ">
	<form  id="success-form">
		<div class="row1 mt-3">
			<div class="success"> <img src="assets/images/svg/check.svg" alt="success-icon">
				<h3> 	{{'SUCCESS' | translate}}</h3>
				<h5> 	{{'EMAIL_ID_UPDATED_SUCCESSFULLY' | translate}}</h5>
			</div>
		</div>
		<div class="row1 mt-3">
			<div class="col-12 text-center">
				<button class="ux-button primary md " (click)="close()">{{'OK' | translate}}</button>
			</div>
		</div>
	</form>
</div>

<div class="popup-bottom sm-popup forgeryUser ">	
    <div class="row1 mt-3">
        <div class="success"> <img src="assets/images/svg/error.svg" alt="success-icon">
            <!-- <h3>Error</h3>				 -->
            <h5 >{{ 'CANNOT_ABLE_TO_IDENTIFY_USER' | translate }}</h5>
        </div>
    </div>
    <div class="row1 mt-3">
        <div class="col-12 text-center">
            <button class="ux-button primary md " (click)="closePopup()">{{ 'OK' | translate }}</button>
        </div>
    </div>	
</div>


<!-- Popup Start -->
<div class="popup-bottom sm-popup kyc-expire-popup">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center"> <img src="assets/images/svg/information.svg" alt="information-icon">
				{{'INFORMATION' | translate}}</h4>
		</div>
	</div>
	<div class="row1">
		<div class="col-12">
			<p *ngIf="kycStatus == 'expired'" >{{'KYC_EXPIRED_PLEASE_PROCEED_FOR_PERIODIC_UPDATTION' | translate}}</p>
			<p *ngIf="kycStatus == 'pending'" >{{'KYC_EXPIRING_PLEASE_PROCEED_FOR_PERIODIC_UPDATTION' | translate}}</p>
		</div>
	</div>
	<div class="row1  mt-2">
		<div class="col-6 text-center">
			<button class="ux-button primary submit-btn" type="button"
				(click)="_closePopup('div.popup-bottom.kyc-expire-popup')">{{'SKIP' | translate}}</button>
		</div>
		<div class="col-6 text-center">
			<button class="ux-button primary submit-btn" type="button"
				(click)="updateKyc()">{{'UPDATE' | translate}}</button>
		</div>
	</div>
</div>