<div class="popup-bottom lg-popup terms-conditions-popup">
    <div class="row1">
        <div class="col-10">
            <h4 class="text-left"> {{'TERMS_CONDITIONS' | translate}}</h4>
        </div>
        <div class="col-2">
            <button class="ux-button-icon close-btn" (click)="closeTerms()">
                <img src="assets/images/svg/close-b.svg" alt="cross-icon" class="img-vsmall">
            </button>
        </div>
    </div>
  <div class="row1 mt-2">
     <div class="scroll-content">
         <div class="content-scroll">
            <div class="col-12 p-2">
                <ol class="orderlist-custom">
                    <li>
                        <h5 class="text-left bold"> {{'DEFINITIONS' | translate}}</h5> 
                          <p class="m-text  mt-2 mb-2"> {{'UNLESS_THE_CONTEXT' | translate}}
                           </p>
                            <ul class="unorder-list-custom">
                                <li><b> {{'ACCOUNT' | translate}} </b>  {{'REFER_CURRENT_ACCOUNT' | translate}} </li>
                                <li><b> {{'DIGITAL_ACCOUNT' | translate}} </b>   {{'ACCOUNT_OPENED_ONLINE' | translate}} </li>
                                <li><b> {{'BANK' | translate}}</b>  {{'BODY_CORPORATE' | translate}} </li>
                                <li><b> {{'CUSTOMER' | translate}}</b>  {{'REFER_CUSTOMER_NAMED' | translate}} </li>
                                <li><b> {{'CONFIDENTIAL_INFORMATION' | translate}}</b> {{'REFER_TO_INFORMATION_OBTAINED' | translate}} </li>
                                <li><b>{{'DIGITAL_BANKING' | translate}}</b> {{'MEANS_OMNI_CHANNEL' | translate}}</li>
                                <li><b> {{'INSTRUCTIONS' | translate}}</b>  {{'MEANS_ANY_REQUEST' | translate}}  </li>
                                <li><b> {{'LOAN_ACCOUNT' | translate}}</b>  {{'LAON_APPLIED_FROM_OMNI' | translate}}  </li>
                                <li><b> {{'USERNAME' | translate}}</b>  {{'REFER_LOGIN_ID' | translate}}  </li>
                                <li><b> {{'LOGIN_PASSWORD' | translate}}</b>  {{'ALPHA_NUMERIC_PASSWORD_CUSTOMER' | translate}} </li>
                                <li><b> {{'MPIN' | translate}}</b>  {{'SIX_DIGIT_NUMBERIC_PASSWORD' | translate}} </li>
                                <li><b> {{'TPIN' | translate}}</b> {{'NUMERIC_PASSWORD_CUSTOMER' | translate}}</li>
                                <li><b> {{'HARD_TOKEN' | translate}}</b> {{'SECURE_HARD_TOKEN' | translate}} </li>
                                <li><b> {{'SOFT_TOKEN' | translate}}</b>  {{'SECURE_SOFT_TOKEN' | translate}}</li>
                                <li><b> {{'ONE_TIME_PASSWORD' | translate}}</b>  {{'REFER_HIGHER_DIGIT' | translate}}</li>
                                <li><b> {{'PERSONAL_INFORMATION' | translate}}</b>  {{'REFER_ABOUT_USER' | translate}} </li>
                            </ul>
                            <p class="m-text mt-3 mb-2"> {{'WEBSITE_MEANS_OMNI' | translate}}</p>
                            <ul class="unorder-list-custom">
                                <li><b> {{'APPLY_ONLINE_SERVICE' | translate}}</b> {{'BANK_SERVICE_FACILITY' | translate}} </li>
                                <li><b> {{'APPLICANT' | translate}}</b> {{'APPLICATION_FORM_SHALL' | translate}} </li>
                                <li><b>{{'APPLICATION' | translate}}</b> {{'APPLICANT_ACCOUNT_OPENING' | translate}} </li>
                                <li><b> {{'ELIGIBILITY' | translate}}</b> {{'APPLICANT_ELIGIBILITY' | translate}}</li>
                                <li><b> {{'PRINCIPLE_APPROVAL_LETTER' | translate}}</b> {{'REFER_LETTER_CONVEYING' | translate}} </li>
                                <li><b> {{'THIRD_PARTY' | translate}}</b> {{'REFER_PRODUCT_SERVICE' | translate}} </li>
                                <li><b> {{'USER' | translate}}</b> {{'REFER_REGISTERED_CUSTOMER_BANK' | translate}} </li>
                            </ul>
                     </li>
                     <li>
                        <h5 class="text-left bold"> {{'APPLICABILITY_OF_TERMS_AND_CONDITION' | translate}}</h5> 
                          <p class="m-text  mt-2"> {{'TERMS_CONDITION_MENTIONED' | translate}}  <br/><br/>
                            {{'ANY_TERMS_CONDITION_SCHEME' | translate}}  
                           </p>
                     </li>
                     <li>
                        <h5 class="text-left bold">{{'APPLICATION_DIGITAL_BANKING' | translate}}</h5> 
                          <p class="m-text  mt-2"> {{'BANK_MAY_OFFER_DIGITAL' | translate}} <br/> <br/> 
                            {{'THROUGH_THE_DIGITAL_BANKING' | translate}} <br/> <br/> 
                            {{'EXISTING_CUSTOMER_CAN_ACCESS' | translate}}  
                           </p>
                     </li>
                     <li>
                        <h5 class="text-left bold"> {{'DIGITAL_BANKING_SERVICES' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'BANK_SHALL_ENDEAVOR' | translate}} <br/><br/>
                            {{'USER_WOULD_ASKED' | translate}}  <br/><br/>
                            {{'SAFTY_MEASURE_USER' | translate}}   <br/><br/>
                            {{'USER_ATTEMP_PERMIT' | translate}} <br/><br/>
                            {{'INTERNET_BANKING_CUSTOMER' | translate}}   
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'USER_ID_PASSWORD' | translate}}</h5> 
                        <ol class="order-list-custom  mt-2">
                            <li><h5 class="text-left bold"> {{'USERNAME_POLICY' | translate}}</h5>
                                <p class="m-text">
                                     {{'APPLICABLE_FOR_SETTING' | translate}}
                                </p>
                                <ul class="unorder-list-custom2">
                                    <li>  {{'USERNAME_OMNICHANNE_DIGITAL_BANKING' | translate}} </li>
                                    <li>   {{'USERNAME_SUPPORT' | translate}}</li>
                                </ul>
                            </li>
                            <li><h5 class="text-left bold">   {{'BANK_PASSWORD' | translate}}</h5>
                                <p class="m-text  mt-2">
                                    {{'THE_USER_SHALL' | translate}}
                                </p>
                                <ul class="unorder-list-custom2">
                                    <li>  {{'KEEP_PASSWORD_TOTALY' | translate}} </li>
                                    <li>  {{'MINI_DIGITAL_BANKING' | translate}} </li>
                                    <li>  {{'PASSWORD_ALPHANUMERIC' | translate}} </li>
                                    <li>  {{'ONE_ALPHABET_UPPERCASE' | translate}} </li>
                                    <li>  {{'ONE_ALPHABET_LOWERCASE' | translate}} </li>
                                    <li>  {{'ONE_NUMERAL' | translate}} One Numeral</li>
                                    <li>  {{'ONE_SPECIAL_CHARACTER' | translate}}</li>
                                    <li>  {{'PASSWORD_DERIVATIVE' | translate}} </li>
                                    <li>  {{'PASSWORD_VULNERABLE' | translate}}</li>
                                    <li>  {{'MODIFIED_PASSWORD' | translate}} </li>
                                    <li>  {{'CUSTOMER_DOESNOT_LOGIN' | translate}}</li>
                                 </ul>
                            </li>
                            <li><h5 class="text-left bold"> {{'MPIN_TPIN_POLICY' | translate}}</h5>
                                <p class="m-text  mt-2">
                                     {{'RULES_CONSIDERED' | translate}}
                                </p>
                                <ul class="unorder-list-custom2">
                                    <li> {{'MPIN_TPIN_SIX_DIGIT' | translate}}</li>
                                    <li> {{'SET_MPIN_TPIN_SAME' | translate}}</li>
                                    <li> {{'MPIN_TPIN_SIMPLE' | translate}}</li>
                                    <li> {{'MPIN_TPIN_TWO_SEQUENTIAL' | translate}} </li>
                                    <li> {{'MPIN_TPIN_LAST_THREE' | translate}} </li>
                                    <li> {{'MPIN_TPIN_DIFFERENT' | translate}}  </li>
                                    <li> {{'MPIN_TPIN_CHANGED' | translate}} </li>
                                 </ul>
                            </li>
                            <li><h5 class="text-left bold"> {{'RESETTING_USER_ID' | translate}}</h5>
                                <p class="m-text  mt-2">
                                    {{'USER_CAN_RESET_USER_ID' | translate}} <br/><br/>
                                    {{'USER_RESET_PASSWORD' | translate}}   <br/><br/>
                                    {{'FORGETTING_MPIN_RETRIEVE' | translate}}  <br/><br/>
                                    {{'USER_REGENERATE' | translate}} <br/>
                                </p>
                             </li>
                             <li><h5 class="text-left bold">   {{'NON_LIABILITY' | translate}}</h5>
                                <p class="m-text  mt-2">
                                    {{'USER_AGREE_ACKNOWLEDGE' | translate}}  
                                </p>
                             </li>
                             <li><h5 class="text-left bold"> {{'LOCKING_USER_ID' | translate}}  </h5>
                                <p class="m-text  mt-2">
                                    {{'DIGITAL_BANKING_PASSWORD' | translate}}  
                                </p>
                             </li>
                             <li><h5 class="text-left bold"> {{'DEACTIVATION_USER' | translate}}  </h5>
                                <p class="m-text mt-2">
                                    {{'BANK_DISCRETION' | translate}}    
                                </p>
                             </li>
                        </ol>
                    </li>
                    
                    <li>
                        <h5 class="text-left bold">   {{'CYBER_CRIME' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'INTERNET_SUSCEPTIBLE' | translate}} <br/><br/>
                            {{'USER_SPECIAL_RESPECT' | translate}}   
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'SOFTWARE_COPATBILITY' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'BANK_SOFTWARE' | translate}} 
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">   {{'ERROR_OF_COMMISSION' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'FILLING_APPLICABLE' | translate}}    <br/><br/>
                          {{'FOR_CUSTOMER_INSTANCE' | translate}} 
                        </p>
                        <ul class="unorder-list-custom2 mt-2 mb-2">
                            <li>
                                {{'ACCOUNT_NUMBER_TRANSFER' | translate}}  
                            </li>
                            <li>
                                {{'REQUIRED_DETAILS_CORRECT' | translate}}  
                            </li>
                        </ul>
                        <p class="m-text mt-2">
                            {{'INACCURACY_FUNDS' | translate}}   <b>   {{'REGULATORY_INSTRUCTION' | translate}} </b><br/><br/>
                            {{'ACCCOUNT_RECEIVING' | translate}} 
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">   {{'TECHOLOGY_RISKS' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'SITE_BANK_REQUIRE' | translate}}  <br/><br/>
                            {{'USER_LIABILITY' | translate}}  
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">     {{'JOINT_ACCOUNT' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'DIGITAL_BANKING_ACCOUNTS' | translate}} 
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">   {{'FUTURE_ACCOUNTS' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'FUTURE_ACCOUNT_CUSTOMER' | translate}}   
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">     {{'LIMITS' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'USER_LIABILITY' | translate}}   
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">     {{'CHARGES' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'BANK_DISCRETION_CHARGES' | translate}}   ( <a href="https://www.kiya.ai/" target="_blank">{{website_link}} </a>)   {{'DIGITAL_BANK_WEBSITE' | translate}} 
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">   {{'MAINTENANCE_SUFFICIENT_BALANCE' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'ENSURE_SUFFICENT' | translate}}    
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">    {{'RIGHT_TO_SET_OFF' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'RIGHT_OF_SET' | translate}}    
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">    {{'FUND_TRANSFER' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'DIGITAL_SERVICE' | translate}}
                        </p>
                        <ol class="order-list-custom  mt-2">
                            <li><h5 class="text-left bold">   {{'FUNDS_TRANSFER_TO_OTHER' | translate}}</h5>
                                <p class="m-text mt-2">
                                    {{'USER_ACCEPTS_KEY' | translate}}  <br/><br/>
                                    {{'BULK_FUND_TRANSFER' | translate}}   ( <a href="https://www.kiya.ai/" target="_blank">{{website_link}} </a> ),  {{'WEBSITE_RESERVE_BANK' | translate}} ( <a href="https://rbi.org.in/" target="_blank"> www.rbi.org.in</a> ).<br/><br/>
                                    {{'GOVERNED_BY_TERM' | translate}}    ( <a href="https://www.kiya.ai/" target="_blank">{{website_link}} </a> )   {{'AS_WELL_AS' | translate}} ( <a href="https://www.npci.org.in/" target="_blank">www.npci.org.in</a> ).
                                </p>
                             </li>
                            <li><h5 class="text-left bold">BILL PAYMENTS</h5>
                                <p class="m-text mt-2">
                                    {{'USER_DIGITAL_BANKING' | translate}}  
                                    {{'CHANGE_IDENTIFICATION' | translate}}   
                                    {{'LIABLE_FOR_LATE' | translate}}   
                                    <br/><br/>
                                    {{'USER_UNCONDITIONALLY' | translate}}    
                                </p>
                                <ul class="unorder-list-custom2">
                                    <li>   {{'SUCH_TRANSACTION' | translate}} </li>
                                    <li>    {{'NOT_CARRIYING_OUT' | translate}} </li>
                                    <li>   {{'ACCEPTING_INSTRUCTIONS' | translate}} </li>
                                    <li>   {{'FOR_ANY_LOSS' | translate}} </li>
                                    <li>   {{'WITHDRAWING_SUSPENDING' | translate}}</li>
                                </ul>
                                <p class="m-text mt-2">
                                    {{'USER_AGREE_RECORD' | translate}} 
                                </p>
                            </li>
                            <li><h5 class="text-left bold">   {{'MERCHANT_PAYMENTS' | translate}}</h5>
                                <p class="m-text mt-2">
                                    {{'BANK_PROVIDE_FACILITY' | translate}} 
                                </p>
                             </li>   
                         </ol>   
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'STANDING_INSTUCTION_SCHEDULED' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'STANDING_INSTUCTION_REQUIRED' | translate}}   
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'TRANSACTION_PROCESSING_TIME' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'ALL_INSTURCTION_TRANSACTION' | translate}}  
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">   {{'DOCUMENTS_REQUIRED_TRANSACTION' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'USER_RESPONSIBLE' | translate}}
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">   {{'AUTHORITY_TO_BANK' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'BANK_USER_TRASACTION' | translate}}  <br/><br/>
                            {{'USER_IRRECOCABLE_AGREE' | translate}}   <br/><br/>
                            {{'BANK_MAY_TIME' | translate}} 
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'ACCURACY_INFROMATION' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'CUSTOMER_INFORM_BANK' | translate}} 
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'LIABILITY_OF_USER' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'USER_CONSEQUECES' | translate}}  
                        </p>
                        <ol class="order-list  mt-2">
                            <li> 
                                <p class="m-text">
                                    {{'NON_COMPLICANCE_TERMS' | translate}}    
                                </p>    
                            </li>
                            <li> 
                                <p class="m-text">
                                    {{'BREACHED_TERM' | translate}}       
                                </p>  
                                <ul class="unorder-list-custom2 mt-2">
                                    <li>    {{'DISCLOSING_FAILING' | translate}} </li> 
                                    <li>    {{'NOT_ADVISING_BANK' | translate}}  </li>
                                 </ul>    
                            </li>
                            <li> 
                                <p class="m-text">
                                    {{'NOTWITHSTANIND' | translate}}     
                                </p>    
                            </li>
                            <li> 
                                <p class="m-text">
                                    {{'LIABLE_RESPONSIBLE' | translate}} 
                                </p>    
                            </li>
                            <li> 
                                <p class="m-text">
                                    {{'INADVERTENT' | translate}}  
                                </p>    
                            </li>
                            <li> 
                                <p class="m-text">
                                    {{'SERVICE_THROUGH_DIGITAL' | translate}}  
                                </p>    
                            </li>
                        </ol>   
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'LIABILITIES_BANK' | translate}} </h5> 
                        <ul class="unorder-list-custom2 mt-2">
                            <li>    {{'UNAUTH_TRASACTION' | translate}}</li> 
                            <li>    {{'ACCOUNT_HODER_DAMAGE' | translate}}</li>
                            <li>   {{'ENDEAVOR_POSSBILE' | translate}}</li>
                            <li>   {{'VALID_DISCRETION' | translate}} </li>
                            <li>   {{'TENTATIVE_BANK' | translate}} </li>
                            <li>   {{'VALID_PERIOD' | translate}} </li>
                            <li>   {{'BANK_HELD' | translate}} </li>
                            <li>   {{'NOTWITHSTADNING_ANYTHING' | translate}} </li>
                        </ul>  
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'INDEMNITY' | translate}} </h5> 
                        <p class="m-text  mt-2">
                            {{'USER_AGREE_INDEMNIFY' | translate}}   
                        </p>
                        <ul class="unorder-list-custom2 mt-2">
                            <li> {{'BREAACH_TERMS' | translate}}</li> 
                            <li> {{'IMPROPER_USE' | translate}} </li>
                            <li>{{'CLAIMS_MADE' | translate}}</li>
                            <li>{{'PRODUCT_DIGITAL' | translate}} </li>
                            <li>{{'ARISING_OUT' | translate}}</li>
                            <li>{{'CONSEQU_ACCOUNT' | translate}}</li>
                        </ul>  
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'DISCLOSURE_INFORMATION' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'BANK_PROVIDE' | translate}}<br/><br/>
                            {{'BANK_COLLECT' | translate}} 
                        </p>
                        <ul class="unorder-list-custom2 mt-2">
                            <li> {{'PARTICIPATE_ELECTRONIC' | translate}}</li> 
                            <li> {{'LEGAL_RESERVE' | translate}}</li>
                            <li> {{'CREDIT_RATING' | translate}}</li>
                            <li> {{'FRAUD_PREVENTION' | translate}} </li>
                        </ul>
                        <p class="m-text  mt-2">
                            {{'CLAUSE_CLARIFIED' | translate}}  
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'AMENDEMENTS' | translate}}</h5> 
                        <ul class="unorder-list-custom2 mt-2">
                            <li>  {{'BANK_ABSOLUTE' | translate}}</li>
                        </ul>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'NON_TREANSFERABILITY' | translate}}</h5> 
                        <ul class="unorder-list-custom2 mt-2">
                            <li>  {{'GRANT_FACILITY' | translate}}</li>
                        </ul>
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'PROPREITERY_RIGHT' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'ACKNOWLEDGE_UNDERLYING' | translate}}  
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'INTELECTUAL_RIGHT' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'TRADEMARK_LOGOS' | translate}}   <br/><br/>
                            {{'NOTHING_CONTAINED' | translate}}    <br/><br/>
                            {{'BANK_GRANTS' | translate}}  <br/><br/>
                            {{'USER_ASSUME' | translate}}   <br/><br/>
                            {{'BREACH_RESTRICTION' | translate}}  
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'THIRD_PARTY_LINKS' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'OMNI_PORTAL' | translate}}   
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'DISABLE_SERVICE' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'USER_REQUEST' | translate}}   <br/><br/>
                            {{'SOLE_BANK' | translate}}   <br/><br/>
                        </p>
                        <ul class="unorder-list-custom2 mt-2">
                            <li>   {{'BREACHED_TERM_USER' | translate}} </li>
                            <li>  {{'KNOWLEDGE_INFORMATION' | translate}}</li>
                            <li>  {{'CLOSURE_ACCOUNT_USER' | translate}} </li>
                        </ul>
                    </li>

                    <li>
                        <h5 class="text-left bold">   {{'NOTICES' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'NOTICE_CUSTOMER' | translate}}   
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'FORCE_MAJEURE' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'BANK_LIABLE' | translate}}   
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'DISCLAIMER_INFORM' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'BANK_ADOPTED' | translate}} 
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'DISCLAIMER_ANTI' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'MOBILED_SCANNED' | translate}}    
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'GOVERNING_LAWS' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'TERM_OPERATION' | translate}}     <br/><br/>
                            {{'BANK_ACCEPT_INDIRECT' | translate}}   <br/><br/>
                            {{'SUBJECT_COURTS' | translate}}    
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold"> {{'USE_DIGITAL_BANKING' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'USER_CONSTITUTE' | translate}} 
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'BANK_SERVICE_CORPORATE' | translate}}  </h5> 
                        <p class="m-text  mt-2">
                            {{'CUSTOMER_AGREE' | translate}}    <br/><br/>
                            {{'EVERY_KYC' | translate}}  <br/><br/>
                            {{'PASSWORD_PROVIDE' | translate}}   <br/><br/>
                            {{'SAFETY_MEASURE' | translate}}  <br/><br/>
                            {{'ATTEMP_PERMIT' | translate}}  <br/><br/>
                            {{'THOUG_DIGITAL' | translate}}    
                        </p>
                    </li>

                    <li>
                        <h5 class="text-left bold">  {{'DEF_TERMINOLOGY' | translate}}  </h5>
                        <ol class="order-list-custom  mt-2">
                            <li> 
                                <p class="m-text">
                                    <b>  {{'OMNI_CHANNEL' | translate}}  </b>:   {{'MADE_AVAIL' | translate}}
                                </p>
                             </li> 
                             <li> 
                                <p class="m-text">
                                     {{'USER_REFER' | translate}}  <b>  {{'Bank_CUSTOMER' | translate}}  </b>  {{'WHO_REGISTERED' | translate}}  <b>{{'OMNICAHNNEL_APP' | translate}}  </b>/  {{'PORTAL' | translate}}  
                                </p>
                             </li> 
                             <li> 
                                <p class="m-text">
                                    {{'REFER_TO_JSBP' | translate}}  "<b>  {{'BANK_HOUSE' | translate}}</b> ( {{'SUCCESSORS_ASSIGNS' | translate}}). 
                                </p>
                             </li> 
                         </ol>    
                     </li>

                    <li>
                        <h5 class="text-left bold"> {{'FAIR_PRACTICE' | translate}}</h5> 
                        <p class="m-text  mt-2">
                            {{'YOU_MAY_REFER' | translate}}  <a href="https://www.kiya.ai/" target="_blank">{{website_link}}</a>
                        </p>
                    </li>
                </ol>
            </div>
         </div>
      </div>
  </div>
     <div class="row1 mt-2" *ngIf="termsConditionType != 'termsConditionRegistration' ">
        <div class="col-md-12 col-12  text-center">
        <form [formGroup]="">
            <div class="ux-selection1 mar-rcustom text-center ux-input">
                <label> {{'I_READ_AGREE' | translate}}
                    <input type="checkbox" required name="terms" formControlName="terms">
                    <span class="checkmark"></span>
                </label> 
                <p class="error-message" *ngIf="termsConditionForm.controls['terms'].hasError('required') && (termsConditionForm.controls['terms'].dirty || termsConditionForm.controls['terms'].touched)"> Please select terms and conditions</p>

            </div>
           
        </form>
          </div> 
        <div class="col-12 text-center">
            <button class="ux-button primary md agree-btn" (click)="submit()"> {{'I_AGREE' | translate}}</button>
        </div>
    </div>
 	</div>

    <!-- Terms & Conditions Popup End-->
