<div class="main bg-m" (click)="hidebillerlist($event)" >
	<div class="right-main-column ">
		<div class="right-col-container pad-b full-width">
			<!-- ======== body page content start from here ======== -->
			<div class="body-page-container main-dashborad bill-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-0">
							<app-breadcrumb routeName="REGISTER_NEW_BILLER"></app-breadcrumb>
						</div>
					</div>
					<!--.row -->
					<div class="vspacer15 customize d-none d-md-block d-lg-block d-xl-block"></div>
					<div class="row no-gutters">
						<div class="col-12">
							<div class="row1">
								<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
									<!-- Greencard2 Start here -->
									<div class="greencard2">
										<div class="row1 hide-m">
											<div class="col-md-10 col-12">
												<h4>Register New Biller </h4> </div>
											<div class="col-md-2 col-12">
												<div class="header-actions"> <img src="assets/images/icons/billpay.png" alt="billpay-img" class="small-img"> </div>
											</div>
										</div>
										<div class="col-12 p-0">
                                        <form [formGroup]="registerBillerForm" (ngSubmit)="registerBillerSubmit()">
										<div class="row1">
											<div class="col-sm-12 col-12 col-md-12">
												<div class="widget-box5 mb-3" style="overflow:visible">
													<div class="bg-white1 pad-custom">
														<div class="row1">
															<div class="flex-container2">
																<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 full-info">
																	<div class="row1">
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4">
																			<div class="ux-input">
																				<label>Biller Category</label>
																				<select class="biller" formControlName="billerCategory"  (change)="onCategorySelect($any($event.target).value)">
																					<option value="" >Select Category</option>
																					<option  *ngFor="let item of billerCategory" [value]="item">{{item}}</option>
																				</select>
                                                                                           <!-- <p class="error-message" *ngIf="registerBillerForm.controls['billerCategory'].hasError('required') && (registerBillerForm.controls['billerCategory'].dirty || registerBillerForm.controls['billerCategory'].touched)"> {{"SELECT_CATEGORY" | translate}} </p> -->

																			</div>
																		</div>
																		<!-- <div class="col-12 col-md-6 col-lg-4 col-xl-4"  >
																			<div class="ux-input">
																				<label>Biller Location</label>
																				<select formControlName="billerLocation" (change)="onStateSelect($event.target.value)" >
																					<option value="">Select Location</option>
																					<option *ngFor="let item of stateList; let i = index" [value]="item">{{item}}</option>
																				</select>
                                                                                <p class="error-message" *ngIf="registerBillerForm.controls['billerLocation'].hasError('required') && (registerBillerForm.controls['billerLocation'].dirty || registerBillerForm.controls['billerLocation'].touched)"> {{"SELETC_LOCATION" | translate}} </p>

																			</div>
																		</div> -->
																	</div>
																	<div class="row1">
																		<div class="col-12 col-md-12 col-lg-8 col-xl-8"  *ngIf="finalBillerList.length">
																			<div class="ux-input biller-custom-selectbox" >
																				<label>Billers</label>
																				<div class="custom-dropdown-dummy" >
																					<span  class="biller-logo-wrap"  *ngIf="logoUrl != ''" ><img src="{{logoUrl}}"class="boardlogo" alt=""></span>
																					<input type="text" formControlName="boardname"  class="billerselect" placeholder="Search Biller" [ngClass]="{'pl-5': logoUrl}" (click)="$event.stopPropagation()" (input)="filterBiller($any($event.target).value)" (focus)="$event.stopPropagation();$event.preventDefault();toggleCategoriesSelection($event)"  >
																					<ul id="board-name" class="list-unstyled hide-m" class="list" [ngClass]="{'d-none': hideList}"  *ngIf="filteredBillerList.length > 0">
																						<li  class="init" *ngFor="let item of filteredBillerList" (click)="onSelectOption(item)"   [ngClass]="{'active': selectedBillerId == item.billerid}" >
																							<img src="{{item.biller_logo}}"   class="boardlogo" alt=""> 
																				
																							<span class="board-display"> {{item.biller_name}} </span>	    <img  class="bbpslogo" src="assets/images/svg/BBPS_Logo.svg" *ngIf="item.isbillerbbps == 'Y'" alt="">
																						</li>
																					</ul>
																				
																				</div>
																				<p class="error-message" *ngIf="selectedBoard.billerid == '' && submitClicked"> {{"REQUIRED_MSG" | translate}} </p>
																			</div>
																		</div>
																	</div>
																	<div class="row1">
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4 "  *ngIf ="autharray.length">
																			<div class="ux-input">
																				<label>Short Name</label>
																				<input type="text" placeholder="Enter Short Name" name="shortName" formControlName="shortName">
                                                                                <p class="error-message" *ngIf="registerBillerForm.controls['shortName'].hasError('required') && (registerBillerForm.controls['shortName'].dirty || registerBillerForm.controls['shortName'].touched)"> {{"REQUIRED_MSG" | translate}} </p>
																				<p class="error-message"
																				*ngIf="registerBillerForm.controls['shortName'].hasError('pattern') && (registerBillerForm.controls['shortName'].dirty || registerBillerForm.controls['shortName'].touched)">Special Characters are not allowed</p>
																			
																			</div>
																		</div>
																	</div>
																	<div class="row1">
																		<div class="col-12 col-md-6 col-lg-4 col-xl-4"  *ngFor="let item of autharray" >
																			<div class="ux-input">
																				<label>{{item.parameter_name}}</label>
																				<div class="posrelative" [ngClass]="{'itsCC': item.fieldType == 'CC'}">
																					<input type="text" class="dummytext" placeholder="Enter Valid {{item.parameter_name}}" numbersOnly (input)="creditcardInput($any($event.target).value)" formControlName="dummy" limit-to="{{item.paramLength}}">
																					<input type="text" placeholder="Enter Valid {{item.parameter_name}}" name="consumerNumber{{item.seq}}" formControlName="consumerNumber{{item.seq}}" *ngIf="item.data_type!='List' && item.data_type == 'Numeric'" numbersOnly  class="pr-0"  limit-to="{{item.paramLength}}">
																					<input type="text" placeholder="Enter Valid {{item.parameter_name}}" name="consumerNumber{{item.seq}}" formControlName="consumerNumber{{item.seq}}" *ngIf="item.data_type!='List' && item.data_type != 'Numeric'" class="pr-0"  limit-to="{{item.paramLength}}">
																				</div>
																				<select formControlName="consumerNumber{{item.seq}}" *ngIf="item.data_type == 'List'">
																					<option value="">Select Location</option>
																					<option *ngFor="let donneroption of item.list_of_values; let i = index" [value]="donneroption.value">{{donneroption.name}}</option>
																				</select>
																				 <span class="errormsg" *ngIf="registerBillerForm.controls['consumerNumber'+ item.seq].hasError('required') && (registerBillerForm.controls['consumerNumber'+ item.seq].dirty || registerBillerForm.controls['consumerNumber'+ item.seq].touched)">Please enter {{item.parameter_name}} </span>
																				<span class="errormsg" *ngIf="registerBillerForm.controls['consumerNumber' + item.seq].hasError('pattern') && (registerBillerForm.controls['consumerNumber'+ item.seq].dirty || registerBillerForm.controls['consumerNumber'+ item.seq].touched)"> {{item.error_message}} </span>
																				<div *ngIf="item.fieldType == 'CC' ">
																					<span class="errormsg "  *ngIf="registerBillerForm.controls['dummy'].hasError('required') && (registerBillerForm.controls['dummy'].dirty || registerBillerForm.controls['dummy'].touched)">Please enter {{item.parameter_name}} </span>
																					<span class="errormsg " *ngIf="registerBillerForm.controls['consumerNumber' + item.seq].hasError('pattern') && (registerBillerForm.controls['dummy'].dirty || registerBillerForm.controls['dummy'].touched)"> {{item.error_message}} </span>
																				</div>
																			</div>
																		</div>
																		<div  class="col-12 col-md-12 col-lg-12 col-xl-12" *ngIf ="autharray.length">
																			<p class="text-left"> <a class="link-txt" (click)="commonMethods.openPopup('.sampleBill')" >View Sample Bill</a></p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-md-12">
												<ul class="bottom-footer1">
													<li>
														<div class="btn-div hide-m">
															<button class="ux-button secondary sm-mob proceed1" type="button" (click)="goToPage('retailRechargeBillPay')">Back</button>
														</div>
														<div class="btn-div w100">
															<button class="ux-button primary sm-mob proceed1" type="submit"  >Proceed</button>
														</div>
													</li>
												</ul>
											</div>
										</div>
                                    	</form>
										</div>
									</div>
								</div>
								<!-- Greencard2 End here -->
								<!-- Right Column Ads Start -->
								<div class="col-12 col-md-12 col-lg-12 col-xl-3 d-none d-xl-block">
									<app-banner></app-banner>
								</div>
								<!-- Right Column Ads Ends -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.right-col-container-->
	</div>
	<!--.right-main-column-->
</div>
<!-- main -->

<div class="popup-bottom sm-popup sampleBill">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center">
				<img src="./assets/images/svg/information.svg" alt="error-icon"> Sample Bill
			</h4>
		</div>
	</div>
	<div class="row1">
		<div class="col-12 mb-4">
			<img src="{{billSampleURL}}" alt="Sample Bill" style="display: block;margin: 0 auto;max-width:100%">
		</div>
	</div>
	<div class="row1  mt-2">
		<div class="col-12 text-center">
			<button class="ux-button primary submit-btn" (click)="commonMethods.closeAllPopup()">Close</button>
		</div>
	</div>
</div>

<div class="popup-bottom sm-popup successpopup">
	<div class="row1">
		<div class="col-12">
			<h4 class="text-center">
				<img src="./assets/images/svg/information.svg" alt="error-icon">Information
			</h4>
		</div>
	</div>
	<div class="row1">
		<div class="col-12 mb-4">
		<p>Biller has been Added Successfully</p>
		</div>
	</div>
	<div class="row1  mt-2">
		<div class="col-12 text-center">
			<button class="ux-button primary submit-btn" (click)="commonMethods.closeAllPopup()">Close</button>
		</div>
	</div>
</div>